root = true

[*.{h,c,cpp,hpp,qml}]
charset = utf-8
tab_width = 2
indent_style = space
trim_trailing_whitespace = true

[{CMakeLists.txt,*.cmake}]
charset = utf-8
tab_width = 4
indent_style = tab
trim_trailing_whitespace = true
